<section id="post-<%= post.id %>">

  <div class="post contain">
    <h1><% if @single_post %><%= post.title %><% else %><%= link_to post.title, "/#{post.slug}/" %><% end %></h1>

    <% if post.has_more_tag && !@single_post && !@preview %>
      <% if post.excerpt %><%= markdown(post.excerpt).to_html.html_safe %><% end %>
      <%= link_to "Continue Reading →", post.slug, :class => "button" %>
    <% else %>
      <% if (post.content && @single_post) || @preview%>
        <div id='toc'></div>
        <%= markdown(post.content).to_html.html_safe%>
      <% elsif post.content%>
        <%= markdown(post.content.lines.to_a[0...3].join).to_html.html_safe%>
      <% end %>
    <% end %>
    <%- if is_admin? -%>
      <ul class="actions">
        <li><%= link_to 'Edit', '/edit/' + post.id.to_s unless @preview %></li>
      </ul>
    <%- end -%>

    <%= if @single_post then render :partial => "application/sociable", :locals => { :post => post } end %>
    <%= if @single_post then render :partial => "posts/comment" end %>
  </div>
  <% if @single_post %><a class="button space-top" href="<%= root_url %>categories/<%=@category.name%>">Back to <%= @category.name %></a><% end %>
</section>
