<!doctype html>
<html lang="en-US">
<head>
  <title><%= html_title yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <meta name="author" content="<%= CONFIG['name'] %>">
  <link href="/posts.rss" rel="alternate" title="RSS" type="application/rss+xml" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css' />
</head>

<body class="<%= controller_name %> <%= action_name %>">
  <% unless @no_header %>
  <header>
    <h1><%= link_to CONFIG['title'], root_url %></h1>
    <span><%= CONFIG['tagline'].html_safe %></span>
    <ul>
      <% if CONFIG['twitter'] %>
        <li><%= link_to '@' + CONFIG['twitter'], 'https://twitter.com/intent/tweet?screen_name=' + CONFIG['twitter'], :target => "_blank"  %></li>
      <% end %>
      <% if CONFIG['github'] %>
        <li><%= link_to 'github', 'https://github.com/' + CONFIG['github'] %></li>
      <% end %>
      <% if CONFIG['email'] %>
        <li><%= link_to 'say hi', "mailto:#{CONFIG['email']}?subject:whats up!" %></li>
      <% end %>
      <li><%= link_to 'rss feed', '/posts.rss' %></li>
    </ul>
    <span class="powered-by">
      Powered by<br/> 
      <a href="http://github.com/natew/obtvse.git">Obtvse,</a>
      <a href="http://softwaremaniacs.org/soft/highlight/en/">highlight.js,</a>
      <a href="http://jmblog.github.com/color-themes-for-highlightjs/">theme</a>
      <a href="http://projects.jga.me/toc/">toc</a>
      <% if is_admin? %> &nbsp;&middot;&nbsp; <a href="/admin">Admin</a><% end %>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/us/80x15.png" /></a>
    </span>


  </header>
  <% end %>

  <div id="container">
    <% unless @no_header %>
      <div id='mobileHeader'>
        <%=  if CONFIG['title'] then link_to CONFIG['title'], root_url end %>
        <% if CONFIG['twitter'] %>
          <%= link_to image_tag('twitter.png'), 'http://twitter.com/' + CONFIG['twitter'], :target => '_blank' %>
        <% end %>
        <% if CONFIG['github'] %>
          <%= link_to image_tag('github.png'), 'https://github.com/' + CONFIG['github'], :target => 'blank' %>
        <% end %>
        <% if CONFIG['email'] %>
          <%= link_to image_tag('email.png'), "mailto:#{CONFIG['email']}?subject:whats up!" %>
        <% end %>
      </div>
      <div class="categoryHead">
        <% @categories.each do |category| %>
          <% if @category && !(category.name.eql? @category.name)  %>
            <%= link_to category.name, category_list_path(category.name) %>
          <%else%>
            <%= link_to category.name, category_list_path(category.name), class: "categoryOn" %>
          <% end %>
        <% end %>
      </div>
      <time><% if @post && @post.created_at %>Posted <%= @post.created_at.to_formatted_s(:day_month_year) %><% else %><%= Time.now.to_formatted_s(:day_month_year) %><% end %></time>
    <% end %>
    <div id="content">
      <% if notice %><span class="notice"><%= notice %></span><% end %>
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>

  <% if CONFIG['google_analytics_id'] %>
    <!-- Google Analytics -->
    <script>
      var _gaq=[['_setAccount','<%= CONFIG['google_analytics_id'] %>'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  <% end %>
</body>
</html>
